@keyframes breathe {
    0% {
        opacity: .4;
        box-shadow: 0 1px 2px rgb(174 115 115 / 47%), 0 1px 1px rgba(0, 147, 223, 0.1) inset;
    }

    100% {
        opacity: 1;
        border: 1px solid rgba(107 64 64 / 70%);
        box-shadow: 0 1px 30px #860000, 0 1px 20px #650e0e inset;
    }
}

.logo {
    border: solid 2px #550000;
    border-radius: 100%;
    animation-timing-function: ease-in-out;
    animation-name: breathe;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fixed-pop-ups {
    background-color: rgb(72 0 0 / 40%);
    width: 100%;
    padding: 15px 15px 20px 0;
    display: none;
}

.fixed-pop-ups .icons li {
    /* margin: 10px; */
    display: inline-grid;
    padding: 0;
    text-align: center;
    width: 4.25rem;
    overflow: hidden;
}

.fixed-pop-ups .icons span {
    text-align: center;
    width: 4.25rem;
}

.fixed-pop-ups .icons li a {
    height: 4.25rem;
    width: 4.25rem;
    line-height: 4.25rem;
    background-position: 50% 50%;
    background-size: contain;
}

.dialogue-actions {
    margin: 15px 0 0 20px;
}

.dialogue-actions li {
    padding: 15px 15px 0 0;
}

#question-list hr {
    margin-top: 5px;
    margin-bottom: 15px;
}

#game-round-message-list li p {
    /* text-align: left; */
    margin-bottom: 6px;
}

#game-round-message-list li p span {
    color: #850202;
    font-size: 20px;
    font-weight: bold;
    margin-left: 18px;
}

#game-round-message-list li {
    width: 100%;
    float: left;
}

#game-round-message-list li a {
    width: 2.50rem;
    height: 2.50rem;
    margin-top: 5px;
}

.message-list-content-left {
    width: 76%;
    margin-left: 20px;
    position: inherit;
    text-align: left;
    font-size: 12px;
    float: left;
}
.message-list-content-right {
    width: 76%;
    margin-right: 20px;
    position: inherit;
    text-align: right;
    font-size: 12px;
    float: right;
}
.message-list-content-span-left {
    float: left;
    text-align: left;
    width: 100%;
}
.message-list-content-span-right {
    float: right;
    text-align: left;
    width: 100%;
}

/* 左内容 */
.message-list-avatar-left {
    float: left;
    width: 2.50rem;
    height: 2.50rem;
}

/* 右内容 */
.message-list-avatar-right {
    float: right;
    width: 2.50rem;
    height: 2.50rem;
}

.message-list-answer-left {
    text-align: left;
    margin-left: 0px;
    color: #ffc0007a;
    margin-top: 2px;
    font-size: 12px;
}
.message-list-answer-right {
    text-align: right;
    margin-left: 0px;
    color: #ffc0007a;
    margin-top: 2px;
    font-size: 12px;
}

.message-list-username-left {
    color: #ffffff80;
    font-size: 14px;
}
.message-list-username-right {
    color: #ffffff80;
    font-size: 14px;
    text-align: right;
    /* float: left; */
}


.user-note-one {
    display: flow-root;
}
.user-note-action {
    width: 95%;
    float: left;
    padding-right: 10px;
}
.user-note-answer {
    float: left;
    color: #ffc0007a;
    width: 100%;
    font-size: 12px;
    margin-bottom: 5px;
}

.icon-description {
    margin-bottom: 30px;
}
.icon-description p {
    margin-bottom: 10px;
}